@model OdeToFood.Domain.ViewModels.RestaurantDetailsViewModel

@{
    ViewBag.Title = "Restaurant Details";
}

<h1 class="text-center">Details for @Model.Restaurant.RestaurantName</h1>
<h5 class="text-center">@Model.Restaurant.Cuisine.CuisineName</h5>

<br />

<table class="table table-striped">
    <tr class="bg-primary text-white">
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.RestaurantName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Restaurant.isPromoted)
        </th>
        <th>

        </th>
    </tr>

    <tr>
        <td>
            @if (Model.Restaurant.ImagePath != null)
            {
                <img style="width:50px;" src="@Url.Content(Model.Restaurant.ImagePath)" alt="Cuisine logo">
            }
            else
            {
                <img style="width:50px;" src="~/Images/NoPhoto.jpg" alt="Cuisine logo">
            }
            @Html.DisplayFor(modelItem => Model.Restaurant.RestaurantName)
        </td>
        <td>
            @Html.DisplayFor(model => model.Restaurant.Address)
        </td>
        <td>
            @Html.DisplayFor(model => model.Restaurant.Phone)
        </td>
        <td>
            @if (Model.Restaurant.isPromoted == true)
            {
                <div>YES</div>
            }
            else
            {
                <div>NO</div>
            }
        </td>
        <td class="float-right">
            @Html.ActionLink("Edit", "EditRestaurant", new { id = Model.Restaurant.RestaurantId })
            @Html.ActionLink("Details", "DetailsRestaurant", new { id = Model.Restaurant.RestaurantId })
            @Html.ActionLink("Delete", "DeleteRestaurant", new { id = Model.Restaurant.RestaurantId })
        </td>
    </tr>
</table>

<br />

<h3 class="text-center">Restaurant Menu Items:</h3>

<div>
    <a href="~/Admin/CreateMenuItem/" class="btn btn-outline-primary float-right">+ Add Menu Item</a>
</div>

<br />
<br />


<table class="table table-striped">
    <tr class="bg-primary text-white">
        <th>
            Menu Item Name
        </th>
        <th>
            Menu Item Type
        </th>
        <th>
            Price
        </th>
        <th>
            Description
        </th>
        <th>
            Is Promoted ?
        </th>
        <th class="float-right">

        </th>
    </tr>
    @foreach (var item in Model.MenuItems)
    {
        <tr>
            <td>
                @if (item.ImagePath != null)
                {
                    <img style="width:50px;" src="@Url.Content(item.ImagePath)" alt="Card image cap">
                }
                else
                {
                    <img style="width:50px;" src="~/Images/NoPhoto.jpg" alt="Card image cap">
                }
                @Html.DisplayFor(modelItem => item.MenuItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItemType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) $
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.isPromoted == true)
                {
                    <div>YES</div>
                }
                else
                {
                    <div>NO</div>
                }
            </td>
            <td class="float-right">
                @Html.ActionLink("Edit", "EditMenuItem", new { id = item.MenuItemId })
                @Html.ActionLink("Details", "DetailsMenuItem", new { id = item.MenuItemId })
                @Html.ActionLink("Delete", "DeleteMenuItem", new { id = item.MenuItemId })
            </td>
        </tr>
    }
</table>

