@model OdeToFood.Domain.Models.Cuisine

@{
    ViewBag.Title = "DetailsCuisine";
}

<h2>DetailsCuisine</h2>

<div>
    <h4>Cuisine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CuisineName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CuisineName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImagePath)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImagePath)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit Cuisine", "EditCuisine", new { id = Model.CuisineId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
