@model CountriesAppWEB.Models.ViewModels.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

@{
    double countries = @Model.CountryList.Count();
    double total = countries / 195 * 100;
}

<div class="jumbotron text-center bg-dark text-warning" style="width:100%;">
    <h1>Welcome to Travel App</h1>
    <br />
    <h3>You have visited total of @Model.CountryList.Count() Countries and @Model.CityList.Count() Cities</h3>
    <h3>That is total @total.ToString("#.##") % of the world</h3>
    <br />
    <p class="text-white-50">Travel app helps you keep tracking of the places that you have visited.</p>
</div>




<div class="container">
    <div class="row pb-4 text-dark">

        @foreach (var country in Model.CountryList)
        {

            <div class="container pb-4">
                <div class="card border" style="border:1px solid black;">

                    @*Header*@
                    <div class="card-header bg-dark text-warning ml-0 row container">
                        <div class="col-12 col-md-6">
                            <h3>@country.Name</h3>
                        </div>
                        <div class="col-12 col-md-6 text-md-right">
                            <h3 class="text-white-50">Region : @country.Region </h3>
                        </div>
                    </div>

                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">


                                @*Image*@
                                <div class="col-12 col-lg-4 text-center">
                                    @{
                                        var base64 = Convert.ToBase64String(country.Flag);
                                        var finalStr = string.Format("data:image/jpg;base64,{0}", base64);
                                    }
                                    <img src="@finalStr" class="card-img-top p-2 rounded"/>
                                </div>


                                @*Info*@
                                <div class="col-12 col-lg-8">

                                    <div class="row">
                                        <div class="col-12">

                                            <ul class="float-left">
                                                <li><b>Country info:</b></li>
                                                <li>Capital: @country.Capital</li>
                                                <li>Area: @country.Area</li>
                                                <li>Population: @country.Population</li>
                                            </ul>


                                            @if (Model.CityList.Where(c => c.CountryId == country.Id).Count() > 0)
                                            {
                                                <ul class="float-none" style="padding-left:250px;">
                                                    <li><b>Cities visited :</b></li>
                                                    @foreach (var cities in Model.CityList.Where(c => c.CountryId == country.Id))
                                                    {

                                                        <li>@cities.Name</li>

                                                    }
                                                </ul>
                                            }
                                            else
                                            {
                                                <ul style="padding-left:250px;">
                                                    <li>No City was added yet</li>
                                                </ul>
                                            }


                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>

        }
    </div>
</div>

