@model Shop.ViewModels.ShoppingCartViewModel

@{ ViewData["Title"] = "Cart Details"; }

<h1 class="text-center">Shopping Cart</h1>


@if (Model.ShoppingCartItems?.Count() <= 0)
{
<br />
                <h3 class="text-center">Opps! Your Cart is empty!</h3> }
                            else
                            {
                <br />
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Model</th>
                                            <th>Brand</th>
                                            <th>Quantity</th>
                                            <th>Price</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.ShoppingCartItems)
                                        {
                        <tr>
                            <td>@item.Product.ModelName</td>
                            <td>@item.Product.Brand</td>
                            <td>

                                <div class="row">
                                    <form asp-action="RemoveFromShoppingCart"
                                          asp-controller="ShoppingCart"
                                          asp-route-Id="@item.ProductId"
                                          method="post">
                                        <button class="btn btn-link" style="width:25px;" aria-hidden="true"><b>-</b>@*<i class="fa fa-minus" aria-hidden="true"></i>*@</button>
                                    </form>

                                    <span style="padding:1px 10px">@item.Qty</span>

                                    <form asp-action="AddToShoppingCart"
                                          asp-controller="ShoppingCart"
                                          asp-route-Id="@item.ProductId"
                                          method="post">
                                        <button class="btn btn-link" style="width:25px;" aria-hidden="true"><b>+</b>@*<i class="fa fa-plus" aria-hidden="true"></i>*@</button>
                                    </form>
                                </div>

                            </td>
                            <td>@item.Product.Price.ToString("c")</td>
                            <td>@((item.Product.Price * item.Qty).ToString("c"))</td>
                        </tr>}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="4"><b>Grand Total: </b></td>
                                            <td><b>@Model.ShoppingCartTotal.ToString("c")</b></td>
                                        </tr>

                                        <tr style="border:0">
                                            <td>
                                                <form asp-action="RemoveAllCart" method="post">
                                                    <button class="btn btn-link" asp-action="RemoveAllCart">
                                                        <i class="fa fa-times" aria-hidden="true"></i>
                                                        Clear Cart
                                                    </button>
                                                </form>

                                            </td>
                                            <td colspan="2"></td>
                                            <td class="text-center">
                                                <a class="float-right" asp-controller="Order" asp-action="Checkout">
                                                    <i class="fa fa-check" aria-hidden="true"></i> Checkout
                                                </a>
                                            </td>
                                        </tr>

                                    </tfoot>
                                </table>
}


<br />

<a asp-controller="Home" asp-action="Index"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>

<br />