@model IEnumerable<Shop.ViewModels.AppUserViewModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Title"] = "AllUsers";
}

<h1 class="text-center">All Users</h1>

<div>
    <a asp-action="AddUser">Add New User</a>
    <p class="float-right">Total users : @ViewBag.UsersCount</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @Html.HiddenFor(modelItem => item.Id)
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.ActionLink("Details", "UserDetails", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "RemoveUser", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>


@*Pagination*@
<div class="row">
    <div class="col-5"></div>
    <div class="col-1">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("AllProducts", new { page = page }),
        new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
            {
                DisplayItemSliceAndTotal = false,
                ContainerDivClasses = new[] { "navigation" },
                LiElementClasses = new[] { "page-item" },
                PageClasses = new[] { "page-link" },
            })
    </div>
    <div class="col-6"></div>
</div>
@*Pagination*@