@model IEnumerable<Shop.ViewModels.AppUserViewModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Title"] = "AllUsers";
}

    <div class="row">

        <div class="col-12 card" style="padding:0px;margin-top:15px;overflow:hidden;">

            <div class="card-header box-shadow bg-warning">
                <h1 class="text-center"><i class="fas fa-users"></i> All Users</h1>
            </div>

            <br />

            <div>
                <a asp-action="AddUser" class="btn btn-primary" style="width:200px;margin-left:20px;"><i class="fa fa-user-plus" aria-hidden="true"></i> Add New User</a>
                <h5 class="float-right" style="margin-right:20px;"><i class="fas fa-info-circle"></i> Total users : @ViewBag.UsersCount</h5>
            </div>

            <br />

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Lock User
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BirthDate)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        @Html.HiddenFor(modelItem => item.Id)
                    <tr>
                        <td>
                            @if (item.LockoutEnd == null || item.LockoutEnd < DateTime.Now)
                            {
                                <a class="btn btn-success text-white" asp-action="Lock" style="width:35px;padding: 5px;" asp-route-id="@item.Id">
                                    <i class="fas fa-lock-open"></i>
                                </a> }
                            else
                            {
                                <a class="btn btn-danger text-white" asp-action="UnLock" style="width:35px;padding: 5px;" asp-route-id="@item.Id">
                                    <i class="fas fa-lock"></i>
                                </a>
                            }
                        </td>
                        <td>
                            <a asp-controller="Users" asp-action="UserDetails" asp-route-id="@item.Id"> @item.UserName</a>
                        </td>
                        <td>
                            <a asp-controller="Users" asp-action="UserDetails" asp-route-id="@item.Id"> @item.FullName</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Email)
                        </td>
                        <td>
                            @item.BirthDate.ToString("dd/MMM/yyyy")
                        </td>
                        <td>
                            <a asp-controller="Users" asp-action="UserDetails" asp-route-id="@item.Id"><i class="fas fa-user"></i> Details</a>
                            <br />
                            <a asp-controller="Users" asp-action="UpdateUser" asp-route-id="@item.Id"><i class="fas fa-user-edit"></i> Update</a>
                            <br />
                            <a asp-controller="Users" asp-action="RemoveUser" asp-route-id="@item.Id"><i class="fas fa-user-minus"></i> Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>


@*Pagination*@
<div class="row" style="justify-content:center">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("AllUsers", new { page = page }),
        new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
            {
                DisplayItemSliceAndTotal = false,
                ContainerDivClasses = new[] { "navigation" },
                LiElementClasses = new[] { "page-item" },
                PageClasses = new[] { "page-link" },
            })
</div>
@*Pagination*@