@model Shop.ViewModels.AppUserViewModel

@{
    ViewData["Title"] = "RemoveUser";
}

<h1 class="text-center"><i class="fa fa-lock" aria-hidden="true"></i> Remove User</h1>

<hr />

<div class="row">

    <div class="col-sm-4"></div>

    <div class="col-sm-4">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.FullName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FullName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BirthDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BirthDate)
            </dd>
        </dl>

        <form asp-action="RemoveUser">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <br />
            <a asp-action="AllUsers">Back to List</a>
        </form>

    </div>

    <div class="col-sm-4"></div>

</div>
