@model Shop.ViewModels.AppUserViewModel

@{
    ViewData["Title"] = "RemoveUser";
}

    <div class="row">

        <div class="col-12 card" style="padding:0px;margin-top:15px;overflow:hidden;">

            <div class="card-header box-shadow bg-warning">
                <h1 class="text-center"><i class="fa fa-lock" aria-hidden="true"></i> Remove User</h1>
            </div>

            <br /><br />

            <table class="table table-striped">
                <thead>
                    @Html.HiddenFor(model => model.Id)
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BirthDate)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Email)
                        </td>
                        <td>
                            @Model.BirthDate.ToShortDateString()
                        </td>
                    </tr>
                </tbody>
            </table>

            <br />

            <div class="text-center">
                <form asp-action="RemoveUser">
                    <input type="submit" value="Delete" class="btn btn-danger" style="width:200px;" />
                </form>

                <br />

            </div>
        </div>

    </div>

<br />

<div class="text-center">
    <a asp-controller="Users" asp-action="AllUsers"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
</div>











