@model Shop.ViewModels.AppUserViewModel

@{
    ViewData["Title"] = "User Details";
}

    <div class="row">
        <div class="col-12 card" style="padding:0px;margin-top:15px;overflow:hidden;">

            <div class="card-header box-shadow bg-warning">
                <h1 class="text-center"><i class="fas fa-user"></i> User Details</h1>
            </div>

            <br /><br />

            <table class="table table-striped">
                <thead>
                    @Html.HiddenFor(model => model.Id)
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FullName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.BirthDate)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AppRole)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Email)
                        </td>
                        <td>
                            @Model.BirthDate.ToString("dd/MMM/yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.AppRole)
                        </td>
                    </tr>
                </tbody>
            </table>

            <br />

            <div class="row">
                <a class="btn btn-danger float-left" style="width:200px;margin:auto;" asp-controller="Users" asp-action="RemoveUser"
                   asp-route-id="@Model.Id"><i class="fas fa-user-minus"></i> Remove User</a>

                <a class="btn btn-primary float-right" style="width:200px;margin:auto;" asp-controller="Account" asp-action="UpdateUser"
                   asp-route-id="@Model.Id"><i class="fas fa-user-edit"></i> Update User</a>
            </div>

            <br />

        </div>
    </div>

<br />

<div class="text-center">
    <a asp-controller="Users" asp-action="AllUsers"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
</div>


























