@model List<ShoppingApp.Data.Models.Product>

<br />

@{
    if (TempData["ProductAdded"] != null)
    {
        <div class="alert alert-success text-center">@TempData["ProductAdded"]</div>
    }

    if (TempData["ProductRemovedCart"] != null)
    {
        <div class="alert alert-danger text-center">@TempData["ProductRemovedCart"]</div>
    }
}

<div class="containerProducts">

    <div class="row">
        <div class="col-lg-12">


            @if (Session["cart"] == null)
            {
                <div class="text-center">
                    <br /><br /><br /><br /><br />
                    <h1>No products were added in the shopping cart yet :(</h1>
                </div>
            }

            <table class="table text-center">
                @if (Session["cart"] != null)
                {
                    <tr><td colspan="7"><h1 class="text-center">My Shopping Cart</h1></td></tr>
                    var total = 0;
                    foreach (var item in (List<ShoppingApp.Data.Models.Product>)Session["cart"])
                    {
                        <tr>
                            <td>
                                <img src="@Url.Content(@item.ImagePath)" height="75" width="75" alt="ProductImage" style="margin:auto;">
                            </td>
                            <td>
                                @item.Brand
                            </td>
                            <td>
                                @item.Model
                            </td>
                            <td>
                                @item.Cathegory
                            </td>
                            <td>
                                @item.ProductType
                            </td>
                            <td>
                                @item.Price $
                            </td>
                            <td>
                                @using (Html.BeginForm("RemoveFromCart", "Products", new { id = item.Id }, FormMethod.Post))
                                {
                                    <button type="submit" value="RemoveFromCart" class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
                                }
                            </td>
                        </tr>
                        total += Convert.ToInt32(item.Price);
                    }
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            @if (total > 0)
                            {
                                <b>@total $ Total</b>
                            }
                        </td>
                        <td>
                        </td>
                    </tr>
                }
            </table>
            <div class="text-center">
                @if (Session["cart"] != null)
                {
                    //<button type="submit" class="inpField2" style="background-color:orange;">Continue To Payment <i class="fa fa-shopping-cart"></i></button>
                    @Html.ActionLink("Continue To Payment" ,"Payment", "Products" , new { @class = "btn btn-primary paymentBtn inpField2" , @style = "background-color:orange;"});
                }
                <br /><br /><br />
                @Html.ActionLink("Continue Shopping", "AllProducts", "Products")
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        setTimeout(function () { $(".alert").slideUp(); }, 3000);
    });

</script>