@using ShoppingApp.Data.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4a0dd74e2f.js" crossorigin="anonymous"></script>
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav text-right">
                    <li>@Html.ActionLink("My Shop", "Index", "Home")</li>
                    <li>@Html.ActionLink("All Products", "AllProducts", "Products")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>
                        <a href="../Products/ShoppingCart">
                            <img src="~/Images/ShoppingCart.png" width="25" height="25" alt="Alternate Text" style="margin-top: -5px;" />
                            @{
                                List<Product> cart = (List<Product>)Session["cart"];
                                if (cart != null && cart.Count() > 0)
                                {
                                    <span style="color:white; margin-top:1px;">@cart.Count()</span>
                                }
                            }
                        </a>
                        </li>

                        @*<li>@Html.ActionLink("Add New Product", "AddProduct", "Products")</li>*@
                        @*<li>@Html.ActionLink("Shopping Cart", "ShoppingCart", "Products")</li>*@
                    </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        @*<footer class="text-center navbar-fixed-bottom">
                <p>&copy; @DateTime.Now.Year - My Online Shop Application</p>
            </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
