@model IEnumerable<ReadLater.Entities.Category>

@{ ViewBag.Title = "Index Categories"; }


<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>


<h1 class="text-center">Index Categories</h1>

<div class="inputsDiv">
    <h3 class="text-center">Enter New Category</h3>
    <div class="row" style="margin-left: 25%;">
        <form action="/Categories/Create" method="post" class="form-horizontal">
            <div class="form-group">
                @Html.AntiForgeryToken()
                <div class="row" style="margin:auto;">
                    <input type="text" required name="Name" class="form-control col-lg-6" placeholder="Enter Category Name" />
                    <input type="submit" value="Add Category" class="form-control btn btn-primary" />
                </div>
            </div>
        </form>
    </div>

    <h3 class="text-center">Enter New Bookmark</h3>
    <form action="/Bookmarks/Create" method="post">
        <div class="form-group">
            @Html.AntiForgeryToken()
            <div class="row" style="margin:auto;">
                <input type="text" required name="URL" placeholder="Enter URL" class="form-control col-lg-6" />
                <input type="text" required name="ShortDescription" placeholder="Short Description" class="form-control col-lg-6" />
                <select name="CategoryId" class="form-control col-lg-6">
                    @foreach (var item in Model)
                    {
        <option value="@item.ID">@item.Name</option>}
                </select>
                <input type="submit" value="Add Bookmark" class="form-control btn btn-primary" />
            </div>
        </div>
    </form>
</div>

<br />


@if (Model.Count() > 0)
{
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bookmarks)
        </th>
        <th>
            Category Actions
        </th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @if (item.Bookmarks.Count() > 0)
        {
            foreach (var bookmark in item.Bookmarks)
            {
<p>
    Url: <a href="@bookmark.URL" target="_blank" id="@bookmark.ID" onclick=LinkClick("/Bookmarks/LinkClickCounter/@bookmark.ID")>@bookmark.URL</a>
</p>

                            <p>
                                Description: @bookmark.ShortDescription
                            </p>
                            <small>
                                Total clicks: @bookmark.ClickCounter
                            </small>

                            <br />

                            <p>
                                <a href="/Bookmarks/Details/@bookmark.ID">Details</a> |
                                <a href="/Bookmarks/Edit/@bookmark.ID">Edit</a> |
                                <a href="/Bookmarks/Delete/@bookmark.ID">Delete</a>
                            </p>

                            <br /> 
            }
            }
            else
            {
            <p>No bookmarks added.</p>
            }
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}
</table> }
else
{
<p class="text-center">No Categories added.</p>}






<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>

    $(document).ready(function () {
        LinkClick(url);
    });

        function LinkClick(url) {
            $.ajax({
                type: 'POST',
                url: url,
                success: function (data) {
                    if (data.success) {
                        console.log("success");
                    }
                    else {
                        console.log("fail")
                    }
                }
            });
        }





</script>