
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] My Shop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/4a0dd74e2f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-warning border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b><i class="fa fa-shopping-bag" aria-hidden="true"></i> My Shop</b></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>



                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="ShoppingCart" asp-action="CartDetails">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i> Cart @if (@ViewBag.TotalItemsCount > 0)
                                {<span class="badge badge-primary">(@ViewBag.TotalItemsCount)</span>}
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="Home" asp-action="ContactUs"><i class="fa fa-envelope" aria-hidden="true"></i> Contact Us</a>
                        </li>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
                        {
                            <li class="nav-item  text-dark">
                                <div class="dropdown">
                                    <div class="dropdown-toggle" type="button" id="dropdownMenuYear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <a class="nav-link"><i class="fa fa-lock" aria-hidden="true"></i> Admin panel</a>
                                    </div>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="nav-link text-dark" asp-controller="Order" asp-action="GetAllOrders">All Orders</a>
                                        <a class="nav-link text-dark" asp-controller="Products" asp-action="AllProducts">All Products</a>
                                        <a class="dropdown-item nav-link" asp-controller="Products" asp-action="AddProduct">Add Product</a>
                                        <a class="dropdown-item nav-link" asp-controller="Users" asp-action="AllUsers">All Users</a>
                                        <a class="dropdown-item nav-link" asp-controller="Users" asp-action="AddUser">Add User</a>
                                    </div>
                                </div>
                            </li>
                        }

                    <li class="nav-item text-dark">
                        <form method="get">
                            <div class="container h-100">
                                <div class="d-flex justify-content-center h-100">
                                    <div class="searchbar">

                                        <input class="search_input" type="text" name="searchTerm" placeholder="Search...">
                                        <button type="submit" class="search_icon" style="height:40px;"><i class="fas fa-search"></i></button>

                                    </div>
                                </div>
                            </div>
                        </form>
                    </li>

                        <li class="nav-item  text-dark">
                            <div class="dropdown">
                                <div class="dropdown-toggle" type="button" id="dropdownMenuYear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a class="nav-link"><i class="fa fa-user" aria-hidden="true"></i> @User.Identity.Name</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link"><i class="fa fa-user" aria-hidden="true"></i> Login/Register</a>
                                    }
                                </div>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <a class="dropdown-item nav-link" asp-controller="Account" asp-action="Register"><i class="fa fa-user-plus" aria-hidden="true"></i> Register</a>
                                        <a class="dropdown-item nav-link" asp-controller="Account" asp-action="Login"><i class="fa fa-user" aria-hidden="true"></i> Login</a>
                                    }
                                    else
                                    {
                                        <a class="nav-link" asp-controller="Order" asp-action="MyOrder">My Orders</a>
                                        <a class="nav-link" asp-controller="Account" asp-action="Logout">Logout</a>
                                    }
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-dark bg-warning box-shadow">
        <div class="container text-center">
            &copy;Petar Donevski - 2020 - Shop
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
