@model IEnumerable<Shop.ViewModels.HomeViewModel>
@using X.PagedList.Mvc.Core;
@using X.PagedList;

@{
    ViewData["Title"] = "Home Page";
}


    <div class="col-12 text-center">
        <div class="row">

            @*<div class="card col-6">
                <div class="card-body text-center">
                    @{
                        if (TempData["WelcomeMessage"] != null)
                        {
                            <h3>Welcome !</h3>
                            <p>@TempData["WelcomeMessage"]</p>
                        }
                        else
                        {
                            <h3>Welcome guest !</h3>
                            <p>Please login or register. </p>
                        }
                    }
                </div>
            </div>*@

        </div>

            <br />


            <div class="row">
                @if (Model != null)
                {
                    foreach (var product in Model)
                    {
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="card" style="width:225px; align-content:center;">
                                @if (product.Images.Count > 0)
                                {
                                    foreach (var img in product.Images)
                                    {

                                        var base64 = Convert.ToBase64String(img.Photo);
                                        var finalStr = string.Format("data:image/jpg;base64,{0}", base64);
                                        <a href="~/Home/ProductDetails/@img.ImageId"><img src="@finalStr" class="card-img-top" /></a>

                                    }
                                }
                                else
                                {
                                    <img src="~/Images/no_image.png" width="223" height="225" />
                                }
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="~/Home/ProductDetails/@product.ProductId">@product.ModelName</a>
                                    </h5>
                                    <b>@product.Brand</b>
                                    <p class="card-text">
                                    </p>
                                    <p class="card-text"><small class="text-muted">@product.Category @product.ProductType</small></p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <br />

            @*Pagination*@
            <div class="row">
                <div class="col-5"></div>
                <div class="col-1">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new
               {
                   page = page,
                   searchTerm = @ViewBag.queryString
               }),
            new X.PagedList.Mvc.Core.Common.PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" }
            })

                </div>
                <div class="col-6"></div>
            </div>
            @*Pagination*@
        </div>
