@model Shop.ViewModels.ProductImageViewModel

@{
    ViewData["Title"] = "Product Image Details";
}

    <div class="row">
        <div class="col-2"></div>

        <div class="col-8 card">

            <br />

            <h1 class="text-center">Product Image for @Html.DisplayFor(model => model.Product.Brand) @Html.DisplayFor(model => model.Product.ModelName)</h1>

            <hr />

            <div class="text-center">
                @{
                    var base64 = Convert.ToBase64String(@Model.Photo);
                    var finalStr = string.Format("data:image/jpg;base64,{0}", base64);
                    <img src="@finalStr" width="600" />
                    <br />
                }
            </div>

            <br /><br />

            <div class="text-center">
                <a asp-controller="Products" asp-action="DeleteProductImage" asp-route-id="@Model.ImageId"
                   class="btn btn-danger" style="width:35%;"><i class="fa fa-trash" aria-hidden="true"></i> Delete Image</a>

                <br /><br />

            </div>
        </div>

        <div class="col-2"></div>
    </div>

<div class="text-center">
    <a asp-action="AllProducts"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
</div>